//== XF Header style, used on page template
header.experiencefragment {
    padding: 0.5em 1em;
    border-bottom: 1px solid $color-foreground;

    @media (prefers-color-scheme: dark) {
        border-bottom-color: $color-foreground-dark;
    }

    a {
        color: $color-foreground;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $color-foreground-dark;
        }

        &:hover,
        &:focus {
            color: $color-link;
            text-decoration: underline;

            @media (prefers-color-scheme: dark) {
                color: $color-link-dark;
            }
        }
    }

    //== Grid layout
    .cmp-container {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
    }

    //== Navigation styling
    .cmp-navigation__group {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .cmp-navigation__item--level-0 {
        display: grid;
        grid-template-columns: 1fr 3fr;

        & > .cmp-navigation__group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .cmp-navigation__item-link {
        display: block;
    }

    .cmp-navigation__item--active > .cmp-navigation__item-link {
        font-weight: bold;
    }

    //== Language Navigation styling
    .cmp-languagenavigation {
        position: relative;

        &::before {
            content: " ";
            display: block;
            height: 1.5em;

            // Use variables within SVG encoding
            $foreground-rgb: 'rgb(' + red($color-foreground) + ',' + green($color-foreground) + ',' + blue($color-foreground) + ')';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='" + $foreground-rgb + "' d='M12.1,0.2h-0.1c-3.1,0-6.1,1.3-8.3,3.5...'/%3E%3C/svg%3E");
            background-repeat: no-repeat;

            @media (prefers-color-scheme: dark) {
                $background-rgb: 'rgb(' + red($color-foreground-dark) + ',' + green($color-foreground-dark) + ',' + blue($color-foreground-dark) + ')';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='" + $background-rgb + "' d='M12.1,0.2h-0.1c-3.1,0-6.1,1.3-8.3,3.5...'/%3E%3C/svg%3E");
            }
        }

        & > .cmp-languagenavigation__group {
            visibility: hidden;
            transition-delay: 0.5s;
            position: absolute;
            top: 34px;
            width: 20em;
            padding: 0 8px;
            border: 1px solid $color-foreground;
            background: $color-background;

            @media (prefers-color-scheme: dark) {
                border-color: $color-foreground-dark;
                background: $color-background-dark;
            }
        }

        &:hover > .cmp-languagenavigation__group {
            visibility: visible;
            transition-delay: 0s;
        }
    }

    .cmp-languagenavigation__group {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .cmp-languagenavigation__item-title {
        font-size: x-small;
        text-transform: uppercase;
    }

    .cmp-languagenavigation__item--level-0 {
        margin-bottom: 0.5em;
    }

    .cmp-languagenavigation__item--level-1 {
        display: inline;

        &:not(:first-child)::before {
            content: " | ";
        }
    }

    .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-link {
        font-weight: bold;
    }

    //== Search styling
    .cmp-search__field {
        display: flex;
        margin: -3px 0;
    }

    .cmp-search__input {
        height: 26px;
    }
}
