<html xmlns:cq="http://www.day.com/jsp/cq/taglib/1.0">
<head>
    <cq:includeClientLib categories="invesco_ai.highcharts" />
</head>
<body>
<div class="chart" target="performanceChart" title="Performance Chart" type="barchart" theme="ETF">
    <div class="data">[ /* Fund data will be injected here via the API */ ]</div>
    <div class="parameters">
        <div class="legendEnabled">true</div>
        <!-- Add other parameters for the chart configuration as needed -->
    </div>
</div>
</body>
</html>
